  /* Colors */
  $primary-color: #9356DC;   /* purple color */
  $secondary-color: #FF79DA;   /* pinky color */
  $third-color: #99E2D0;   /* green color */
  $black-color: #353535;  /* black color */  /* footer */
  $grey-color: #f6f6f6;  /* grey color */  /* footer */
  $grey-text-color:#b3b3b3; /* text color */  /* footer */
  $white-color: #ffffff;  /* white color */ 
  $light-grey-color: #f6f6f6;   /* gris foncé  */  /* page resto */  
  $light_purple-color: #f5edff;  /* purple color */  /* bouton */ 
  $dark-grey-color:#eaeaea;  
  $purple-color:#d96cda; /* purple */
  $purple-dark-color:#9356dc; /* purple */
  $green-color:#99e2d0; /* green */


 