/*===== FOOTER =====*/

footer {
    width: 100%;
    /* background-color:  solid rgb(33, 32, 32) ; */
    background-color: black; 
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 25px;
    padding-left: 15px;
    margin-bottom: 15px;
  
  } 
  
  
  .footer__Logo {
   /* font-family:  'Shrikhand';  $font-family_LogoTitre; */
    font-style: italic;
    font-size: 1.5em;
    color: white;

  }
  
  .liste-items__footer  {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }


  .items__footer{
    display: flex;
    gap: 10px;
  
          &-Title { 
            color: $grey-text-color;
          }
    
          &-Icon  {
            color: white;  
          }
  
  }
  
  