
/* #couleur {
    background: #c88291;
} */



@keyframes couleur {

    0% {
        opacity: 0;
        background: pink;
        transform: translateY(10px); 
        //  transform: translate(0px,0px);
    }

    100% {
     /*    width: 300px;
        height: 280px;  */
        background: $white-color;
        // background: $green;
        transform: translateY(0px); 
        opacity: 1;
    }

}


.Menu__cardGroup .menuCard {
    opacity:0;
}




       .Menu__cardGroup .menuCard:nth-child(1) {
           animation-name: couleur; 
            animation-fill-mode: forwards; 
            animation-duration: 3s;
        } 




        .Menu__cardGroup .menuCard:nth-child(2) {
             animation-name: couleur; 
             animation-fill-mode: forwards; 
             animation-duration: 3s;
             animation-delay: 1s;
          } 



        .Menu__cardGroup .menuCard:nth-child(3) {
               animation-name: couleur; 
              animation-fill-mode: forwards;
              animation-duration: 3s;
              animation-delay: 2s; 
          } 


          .Menu__cardGroup .menuCard:nth-child(4) {
            animation-name: couleur; 
           animation-fill-mode: forwards;
           animation-duration: 3s;
           animation-delay: 3s;
       }        
