@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,500;1,200&display=swap');


@import './color';
 @import './police';  
 @import './loader'; 
 @import './header';
 @import './accueil';
 @import './fonctionnement';
 @import './Coeurs'; 
 

//  @import './main'; 
@import './menu';
@import './restaurants';
/* @import './restaurantMediaquery';  */
@import './bouton';
@import './footer'; 
@import './Screen767';
// @import './Screen991avecRotation';
// @import './Screen992avecRotation';   
 @import './Screen991'; 
 @import './Screen992'; 




 @import "./headerMenu"; 
 /*
 @import "./menu";  
 @import "./main";
 @import "./bouton"; 
 @import "./footer";   */
 @import "./MenuAnimation";





* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* VARIABLES CSS */
:root {
  --header-height: 3.5rem;

  
}


body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}




/*=====  REUSABLE =====*/
a {
  // cursor: pointer;
  color: var(--text-color);
  text-decoration: none;
}



ul {
  list-style: none; /* on enlève les puces */
}


/*
main {
 border: 2px solid orangered;
}
*/

/*
main {
 border: 2px solid orangered;
}
*/






