@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,500;1,200&display=swap');


@import './color';
 @import './police';  
 @import './loader'; 
 @import './header';
 @import './accueil';
 @import './fonctionnement';
 @import './Essaimain'; 
 

//  @import './main'; 
@import './menu';
@import './restaurants';
/* @import './restaurantMediaquery';  */
@import './bouton';
@import './footer'; 
@import './Screen767';
// @import './Screen991avecRotation';
// @import './Screen992avecRotation';   
 @import './Screen991'; 
 @import './Screen992'; 




 @import "./headerMenu"; 
 /*
 @import "./menu";  
 @import "./main";
 @import "./bouton"; 
 @import "./footer";   */
 @import "./MenuAnimation";





* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* VARIABLES CSS */
:root {
  --header-height: 3.5rem;

  /* Colors */
  --first-color: #0065fc;   /* charte color */
  --first-color-alt: #deeafe;
  --second-color: #000;   /* noir */
  --text-color: #404c56;
  --text-color-light: #979da3;
  --body-color: #fefffe;
  --container-color: #d8d0d0;   /* Gris clair    eff0f1*/
  --footer-color:  #2c2a2a;   /* Gris clair    eff0f1*/
  --defaultColor-nav-line : #d9d9d9;

  /* Font and typography */
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 20px;
  --h3-font-size: 16px;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-size: 0.625rem;

  /* Font weight */
  --font-medium: 500;
  --font-semibold: 700;

  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

/*
  .fa-solid  {
    font-family: "Font Awesome 6 Free";
    font-weight: normal;
} */

}


body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}




/*=====  REUSABLE =====*/
a {
  // cursor: pointer;
  color: var(--text-color);
  text-decoration: none;
}



ul {
  list-style: none; /* on enlève les puces */
}



main {
 border: 2px solid orangered;
}







