/*  !!!!!!!!!!!!! */
body {
  background: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}

.containerLoader h2 { 
  font-family: $font-family_LogoTitre;
  font-weight: bold;  
} 

.containerLoader h1 {display: inline-block}

.containerLoader {
  display:flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
position: absolute;
top:30%;
left:50%;
transform: translate(-50%, -50%);
display: flex;

opacity: 1;
animation: effLoader;
animation-delay: 3s;
animation-duration: 3s;
animation-fill-mode: forwards;
}


  
@keyframes effLoader {
  
  0% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
  }

  .cont_itemLoader {
    display:flex;
  }

.itemLoader {
max-width: max-content;
height: max-content;
border-radius: 50%;
margin: 10px;
}


.item1 {
background-color: $primary-color;
 animation: loader 20 0.3s alternate;

}


.item2 {
background-color: $secondary-color;
  animation: loader 20 0.3s 0.05s alternate;

}
.item3 {
background-color: $third-color;
animation: loader 15 0.3s 0.1s alternate;

}


@keyframes loader {
100% {
  transform: translateY(-30px)
}
}


header {

opacity: 0;
animation: print;
animation-delay: 3s;
animation-duration: 3s;
animation-fill-mode: forwards;
} 

@keyframes print {

0% {
  opacity: 0;
}

100% {
  opacity: 1;
}
}





.affMain {

  opacity: 0;
  animation: printMain;
  animation-delay: 3s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  } 
  
  @keyframes printMain {
  
  0% {
    opacity: 0;

  }
  
  100% {
    opacity: 1;
 
  }
  }







/*


main {

  opacity: 0;
  animation: printMain;
  animation-delay: 3s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  } 
  
  @keyframes printMain {
  
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
  }
  */



  /*
 footer {

    opacity: 0;
    animation: printFooter;
    animation-delay: 3s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    } 
    
    @keyframes printFooter {
    
    0% {
      opacity: 0;
 
    }
    
    100% {
      opacity: 1;

    }
    } */

    .affFooter {

      opacity: 0;
      animation: printFooter;
      animation-delay: 3s;
      animation-duration: 3s;
      animation-fill-mode: forwards;
      } 
      
      @keyframes printFooter {
      
      0% {
        opacity: 0;
   
      }
      
      100% {
        opacity: 1;
  
      }
      }
  