
.entréesPlatsDesserts{
  position: relative;
  margin-top: -40px;
  display: flex;
 flex-direction: column;
 align-items: center;
background-color: $light-grey-color; 
//  border: 2px solid purple ;
 padding-left: 5px;
 padding-right: 5px;
    padding-bottom: 50px; 
    padding-top: 10px; 
    border-radius: 20px 20px 0 0;
    gap: 50px; 
}

.entréesPlatsDesserts__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
}


.entréesPlatsDesserts__name {
  Display: flex;
  justify-content: space-between;
  align-items: baseline;
  // gap: 440px;
  width: 100%;
  padding: 25px;
  border: 1px solid var(--text-color-light);
  border-radius: 14px;
  background-color: var(--first-color);
}



.entréesPlatsDesserts__name-title {
 
font-style: italic;

}

.entréesPlatsDesserts__name-icon {
 
padding-top: 11px;  
  } 


.Menu {

    padding: 15px;
    border-radius: 14px;
  }


  .Menu__phase-title, .result__title-affPlus {
    margin-bottom: 30px;
    margin-left: 0px;
  }
  
  

  

  .Menu__phase-title
  {
     font-weight: bold;
     padding-bottom: 0;
     margin-bottom: 0;
  }
   
  
  .Menu__phase-ligne
  {
    border-bottom: 2px solid $green-color;
     width: 60px; 
     height: 2px;
     margin-bottom: 25px;
  } 




/* contener détail du contenu du plat et prix à droite */
.menuCard__details {
    display: flex;
    justify-content: space-between;
      align-items:center;
      width: 100%;
      overflow:hidden;
      border-radius: 14px;
      align-items: stretch;
    }


.Icon{
  opacity:0;
  color:  $white-color;
} 

.menuCard:hover {

  .animIcon {

    width: 80px;
    }

  .Icon {
    opacity:1;
    transform-origin: center; 
     transform: rotate(360deg);
     transition-duration: 2s;
   
   }

}










.menuCard__details_NamePrice-subname {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }

  .decalPrice  {
   /* position:relative; */
    display: flex;
    justify-content: flex-end;
}

.animIcon  {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  height:  auto;
  background-color:  $green-color;
  transition: 0.5s;

}



  /* contener détail du contenu du plat  */ 
  .menuCard__details_NamePrice {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 11px;
    width: 100%;
    height: 105px;
    overflow: hidden;
  }
  


.menuCard__details_NamePrice-name {
  font-size: $h2-font-size; 
  font-weight: bold;
}
  
  


.menuCard__details_NamePrice-price {
  padding-top: 70px;
  padding-right: 2px;
  margin: 0;
    display: block;
    font-size: $h2-font-size; 
    font-weight: bold;
    text-align: center;
    width: 50px;
}



