

/* Tablet 991  */
@media screen and (min-width:992px)  {

  header {

    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
  }


    .Accueil:hover, .filter:hover { 
      border-radius: 10px;
       box-shadow: 0 3px 12px rgba(65, 11, 16, 0.15); }

       .cont_Fonct_Rest {
        display: flex;
        gap: 25px;
        flex-direction: row;
        align-items: flex-start;
    
      } 


      .fonctionnement  {
        margin: 0px;
        gap: 35px;
        width: 28%;
    }

  .fonctionnement__resto-item   {
    width: calc(90% / 2);

    margin: 0px;
  }

 
  .fonctionnement__Actions {
    padding:0;
    padding-left: 15px;
    gap:45px;
  }

  .fonctionnement__Actions {
    row-gap: 40px;
  }


.filter, .info {width: 90%;}


.Menu {   
  width: calc(100% / 3);
  height: 630px;
}


.entréesPlatsDesserts__items {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 80%;
}

.Menu__cardGroup {
  width: 100%;
  // height: 100%;
  flex-direction : column;
  display: flex;
  gap: 25px;
  align-items: center;
  flex-wrap: wrap;
}


 .menuCard {
  width: calc(100% / 1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 14px;
  box-shadow: 0 3px 12px rgba(65, 11, 16, 0.15);
}





.Restaurant__recto, .Restaurants {

  background-color: $light-grey-color; 
  padding: 10px;
  top: 0;
  right:0;
  height: 100%;
  //  face verso rendu invisible 
  backface-visibility: hidden;  
  // carte mise l'ne sur l'autre 
   position:absolute; 
   transition: transform 2s linear;

}



//  Animation Rotation 

  .Restaurant__recto{
    display:inline;
    transform:perspective(1200px) rotateY(0deg);
    // animation: affRotation;
  }

  .container_AnimRectoVerso {
    position:relative; 
    width:70%;
    height: 700px;
  
  }  

  .Restaurants {
    transform:perspective(1200px) rotateY(180deg);
    // animation: affRotation;
  }

  .container_AnimRectoVerso:hover .Restaurant__recto{
    transform:perspective(1200px) rotateY(-180deg);
  }

  .container_AnimRectoVerso:hover .Restaurants {
    transform:perspective(1200px) rotateY(0deg);
  }

  .Restaurant__card {
    width: calc(90% / 2);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 8px;
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 0 3px 12px rgba(65, 11, 16, 0.15);
  }

} 
 