@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,500;1,200&display=swap");
/*
@import '.Styles/color';
 @import '.Styles/police';  
 @import '.Stylesloader'; 
 @import '.Styles/header';
 @import '.Styles/accueil';
 @import '.Styles/fonctionnement';
 @import '.Styles/Coeurs';  
@import '.Styles/menu';
@import '.Styles/restaurants';
@import '.Styles/bouton';
@import '.Styles/footer'; 
@import '.Styles/Screen767';  
 @import '.Styles/Screen991'; 
 @import '.Styles/Screen992'; 
 @import ".Styles/headerMenu"; 
 @import ".Styles/MenuAnimation";

*/
/* Colors */
/* purple color */
/* pinky color */
/* green color */
/* black color */ /* footer */
/* grey color */ /* footer */
/* text color */ /* footer */
/* white color */
/* gris foncé  */ /* page resto */
/* purple color */ /* bouton */
/* light purple */
/* purple */
/* green */
@import url("http://fonts.cdnfonts.com/css/shrikhand");
@import url("http://fonts.cdnfonts.com/css/roboto");
/* Font and typography */
/* Font weight */
/* z index */
h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: bold;
}

h2 {
  font-family: "roboto", sans-serif;
}

h3 {
  font-family: "roboto", sans-serif;
}

/*  !!!!!!!!!!!!! */
body {
  background: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}

.containerLoader h2 {
  font-family: "Shrikhand", sans-serif;
  font-weight: bold;
}

.containerLoader h1 {
  display: inline-block;
}

.containerLoader {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  opacity: 1;
  -webkit-animation: effLoader;
          animation: effLoader;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes effLoader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes effLoader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.cont_itemLoader {
  display: flex;
}

.itemLoader {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 50%;
  margin: 10px;
}

.item1 {
  background-color: #9356DC;
  -webkit-animation: loader 20 0.3s alternate;
          animation: loader 20 0.3s alternate;
}

.item2 {
  background-color: #FF79DA;
  -webkit-animation: loader 20 0.3s 0.05s alternate;
          animation: loader 20 0.3s 0.05s alternate;
}

.item3 {
  background-color: #99E2D0;
  -webkit-animation: loader 15 0.3s 0.1s alternate;
          animation: loader 15 0.3s 0.1s alternate;
}

@-webkit-keyframes loader {
  100% {
    transform: translateY(-30px);
  }
}

@keyframes loader {
  100% {
    transform: translateY(-30px);
  }
}
header {
  opacity: 0;
  -webkit-animation: print;
          animation: print;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes print {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes print {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.affMain {
  opacity: 0;
  -webkit-animation: printMain;
          animation: printMain;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes printMain {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes printMain {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*


main {

  opacity: 0;
  animation: printMain;
  animation-delay: 3s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  } 

  @keyframes printMain {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
  }
  */
/*
footer {

   opacity: 0;
   animation: printFooter;
   animation-delay: 3s;
   animation-duration: 3s;
   animation-fill-mode: forwards;
   } 

   @keyframes printFooter {

   0% {
     opacity: 0;

   }

   100% {
     opacity: 1;

   }
   } */
.affFooter {
  opacity: 0;
  -webkit-animation: printFooter;
          animation: printFooter;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes printFooter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes printFooter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header {
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}

.header__logo, .header__logo-Menu {
  Display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 90%;
}

.header__logo-Image {
  width: 100%;
  height: 80%;
}

.header__logo-Image img {
  width: 150px;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  -o-object-fit: cover;
  object-fit: cover;
}

.header__image-restoAlaFrancaise {
  width: 100%;
  height: 350px;
  background-size: cover;
  background-image: url("../Image/A_la_francaise.jpg");
}

.header__image-restoDelice {
  width: 100%;
  height: 350px;
  background-size: cover;
  background-image: url("../Image/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.header__image-restoNoteEnchantee {
  width: 100%;
  height: 350px;
  background-size: cover;
  background-image: url("../Image/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.header__image-restoPaletteDuGout {
  width: 100%;
  height: 350px;
  background-size: cover;
  background-image: url("../Image/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

header a {
  padding-top: 10px;
}

.showTown {
  /*===== Affichage de la ville  =====*/
  /* Contener icon */
  /* Input Town */
}
.showTown__cont {
  display: flex;
  justify-content: center;
  height: 50%;
  width: 100%;
  padding-left: 50px;
  background-color: #eaeaea;
}
.showTown__cont-icon {
  background-color: #eaeaea;
  padding: 10px 12px;
  border-radius: 10px 0 0 10px;
}
.showTown__cont-field {
  border: none;
  background-color: #eaeaea;
  color: var(--container-color);
  font-weight: var(--font-semibold);
  padding-left: 10px;
  height: 37px;
}

.Accueil {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
  background-color: #f6f6f6;
  padding-bottom: 50px;
}
.Accueil__Title {
  text-align: center;
  font-size: var(--h2-font-size);
  font-weight: var(--font-semibold);
}
.Accueil__SubTitle {
  text-align: center;
  font-size: var(--normal-font-size);
  color: var(--text-color-light);
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding: 10px;
  padding-bottom: 45px;
  background-color: #ffffff;
  /* Liste Ul */
}
.fonctionnement__Title {
  font-size: var(--h2-font-size);
}
.fonctionnement__Actions {
  display: flex;
  flex-direction: column;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 15px;
  width: 100%;
  padding-left: 11px;
  padding-right: 11px;
}
.fonctionnement__Actions li:hover {
  background-color: #f5edff;
}
.fonctionnement__Actions li:hover .fonctionnement__resto-item--icon {
  color: #9356dc;
}
.fonctionnement__resto-item--icon {
  padding: 10px;
  border-radius: 50%;
}
.fonctionnement__resto-item--iconNumber {
  background-color: #9356dc;
  padding: 10px;
  border-radius: 50%;
  color: white;
  position: relative; /* par rapport à filter__menu-item */
  top: -2px; /* remonte de 2px par rapport à filter__menu-item */
  left: -4px; /* retrait de 4px gauche par rapport à filter__menu-item */
}
.fonctionnement__resto--Icons {
  display: flex;
  gap: 10px;
}
.fonctionnement__resto--Icons:nth-child(1) {
  margin-left: -20px;
}

/* ====================================================== */
.fonctionnement__Actions-item {
  display: flex;
  align-items: baseline;
  width: auto;
  padding: 8px;
  border: 1px solid var(--text-color-light);
  border-radius: 14px;
  gap: 10px;
  background-color: #f6f6f6;
}

/* Positionnement de l'icone par rapport au texte li */
.fonctionnement__resto--icon {
  background-color: var(--first-color-alt);
  padding: 10px;
  border-radius: 50%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: inline; /* supprime le renvoi à la ligne balise div */
}

.fonctionnement__resto--icon i {
  font-size: var(--normal-font-size);
  color: var(--first-color);
}

.fonctionnement__resto--action {
  width: 75%;
  text-align: center;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semibold);
}

.hearthStars {
  height: 25px;
  width: 25px;
  position: relative;
  cursor: pointer;
}

.hearthStars i:nth-child(1) {
  position: absolute;
  top: 15px;
  right: 4px;
}

.hearthStars i:nth-child(2) {
  position: absolute;
  top: 15px;
  right: 4px;
  display: none;
}

.hearthStars:hover i:nth-child(1) {
  display: none;
}
.hearthStars:hover i:nth-child(2) {
  display: inline;
  -webkit-animation: affPurpleHeart;
          animation: affPurpleHeart;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes affPurpleHeart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: #9356dc;
  }
}
@keyframes affPurpleHeart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: #9356dc;
  }
}

.entréesPlatsDesserts {
  position: relative;
  margin-top: -40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 50px;
  padding-top: 10px;
  border-radius: 20px 20px 0 0;
  gap: 50px;
}

.entréesPlatsDesserts__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.entréesPlatsDesserts__name {
  Display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  padding: 25px;
  border: 1px solid var(--text-color-light);
  border-radius: 14px;
  background-color: var(--first-color);
}

.entréesPlatsDesserts__name h2 {
  font-family: "Shrikhand", sans-serif;
  font-weight: bold;
}

.entréesPlatsDesserts__name-title {
  font-style: italic;
}

.entréesPlatsDesserts__name-icon {
  padding-top: 11px;
}

.Menu {
  padding: 15px;
  border-radius: 14px;
}

.Menu__phase-title, .result__title-affPlus {
  margin-bottom: 30px;
  margin-left: 0px;
}

.Menu__phase-title {
  font-weight: bold;
  padding-bottom: 0;
  margin-bottom: 0;
}

.Menu__phase-ligne {
  border-bottom: 2px solid #99e2d0;
  width: 60px;
  height: 2px;
  margin-bottom: 25px;
}

/* contener détail du contenu du plat et prix à droite */
.menuCard__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;
  border-radius: 14px;
  align-items: stretch;
}

.Icon {
  opacity: 0;
  color: #ffffff;
}

.menuCard:hover .animIcon {
  width: 80px;
}
.menuCard:hover .Icon {
  opacity: 1;
  transform-origin: center;
  transform: rotate(360deg);
  transition-duration: 2s;
}

.menuCard__details_NamePrice-subname {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.decalPrice {
  /* position:relative; */
  display: flex;
  justify-content: flex-end;
}

.animIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  height: auto;
  background-color: #99e2d0;
  transition: 0.5s;
}

/* contener détail du contenu du plat  */
.menuCard__details_NamePrice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 11px;
  width: 100%;
  height: 105px;
  overflow: hidden;
}

.menuCard__details_NamePrice-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: bold;
}

.menuCard__details_NamePrice-price {
  padding-top: 70px;
  padding-right: 2px;
  margin: 0;
  display: block;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 50px;
}

.container_AnimRectoVerso {
  position: relative;
  width: auto;
  height: 1270px;
}

.Restaurant__recto img {
  width: 100%;
  height: 100%;
}

.Restaurants__title, .result__title-affPlus {
  font-size: var(--h2-font-size);
  margin-bottom: 30px;
  margin-left: 0px;
}

.Restaurants__group {
  display: flex;
  width: 100%;
  gap: 25px;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

/* Phase consommation Resto */
.phaseResto .result__title {
  padding-bottom: 0;
  margin-bottom: 0;
}

.phaseResto .ligne {
  width: 60px;
  height: 2px;
  margin-bottom: 25px;
}

/* Fin Phase consommation Resto */
.result__title-affPlus:hover {
  color: var(--first-color);
  font-weight: var(--font-semibold);
}

/* -------------- */
/* .Restaurants__group  a */
.Restaurant__card {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 8px;
  background-color: #fff;
  border-radius: 14px;
  box-shadow: 0 3px 12px rgba(65, 11, 16, 0.15);
  /* contener détail du contenu du plat  */
}
.Restaurant__card-image {
  width: 100%;
  height: 75%;
  border-radius: 14px 14px 0 0;
  overflow: hidden;
}
.Restaurant__card-image img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.Restaurant__card_Infos {
  display: flex;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  gap: 10px;
  /* contener détail du contenu du plat  */
}
.Restaurant__card_Infos_detail {
  display: flex;
  flex-direction: column;
  width: 75%;
  gap: 10px;
}
.Restaurant__card_Infos_detail-stars {
  align-items: center;
}
.Restaurant__card_Infos_detail-stars i {
  border: var(--first-color);
}
.Restaurant__card_Infos_detail-name {
  font-size: 16px;
  font-weight: bold;
}
.Restaurant__card_Infos_detail-price {
  font-size: 16px;
  font-weight: normal;
}

/* --------------------------------------------------  */
.Restaurant__card_Infos_detail-stars {
  height: 15px;
  width: 15px;
  position: relative;
  cursor: pointer;
}

.Restaurant__card_Infos_detail-stars i:nth-child(1) {
  position: absolute;
  top: 0;
  right: 0;
}

.Restaurant__card_Infos_detail-stars i:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.Restaurant__card_Infos_detail-stars:hover i:nth-child(1) {
  display: none;
}
.Restaurant__card_Infos_detail-stars:hover i:nth-child(2) {
  display: inline;
  -webkit-animation: affPurpleHeart;
          animation: affPurpleHeart;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@keyframes affPurpleHeart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: #9356dc;
  }
}

.button {
  border: none;
  color: white;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
  /* Couleur de secours pour les vieux navigateurs */
  background-color: #9356dc;
  background-image: linear-gradient(to bottom, #d96cda, #9356dc);
}

.button:hover {
  /* Couleur de secours pour les vieux navigateurs */
  background-color: #ae80e5;
  background-image: linear-gradient(to bottom, #e495e4, #ae80e5);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

/*===== FOOTER =====*/
footer h2 {
  font-family: "Shrikhand", sans-serif;
  font-weight: bold;
}

footer {
  width: 100%;
  /* background-color:  solid rgb(33, 32, 32) ; */
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 25px;
  padding-left: 15px;
  margin-bottom: 15px;
}

.footer__Logo {
  /* font-family:  'Shrikhand';  $font-family_LogoTitre; */
  font-style: italic;
  font-size: 1.5em;
  color: white;
}

.liste-items__footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.items__footer {
  display: flex;
  gap: 10px;
}
.items__footer-Title {
  color: #b3b3b3;
}
.items__footer-Icon {
  color: white;
}

/* Phone 767 */
@media screen and (max-width: 767px) {
  body {
    padding: 0px;
  }
  header {
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    gap: 30px;
  }
  /* Section réservation */
  .showTown {
    padding-bottom: 50px;
  }
  .Restaurant__recto {
    display: none;
  }
  .Menu {
    width: 100%;
  }
  .entréesPlatsDesserts__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .Menu__cardGroup {
    flex-direction: column;
    display: flex;
    width: 100%;
    gap: 25px;
    align-items: center;
    flex-wrap: wrap;
  }
  .menuCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 14px;
    box-shadow: 0 3px 12px rgba(65, 11, 16, 0.15);
  }
  /* Section restaurants */
  .Restaurants {
    padding-bottom: 50px;
  }
  .Restaurants {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 8px;
    background-color: #f6f6f6;
    box-shadow: 0 3px 12px rgba(65, 11, 16, 0.15);
  }
  .Restaurants {
    background-color: #f6f6f6;
    width: 100%;
  }
  .Restaurants__group {
    flex-direction: column;
    display: flex;
    width: 100%;
    gap: 25px;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .Restaurant__card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 14px;
    box-shadow: 0 3px 12px rgba(65, 11, 16, 0.15);
  }
  .fonctionnement__resto-item {
    width: 90%;
  }
}
/* Tablet 991  */
@media screen and (min-width: 768px) and (max-width: 991px) {
  header {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
  }
  .Accueil:hover, .filter:hover {
    border-radius: 10px;
    box-shadow: 0 3px 12px rgba(65, 11, 16, 0.15);
  }
  .fonctionnement__resto-item {
    width: 45%;
    margin: 0px;
  }
  .filter, .info {
    width: 90%;
  }
  .Menu {
    width: 33.3333333333%;
    height: 630px;
  }
  .entréesPlatsDesserts__items {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 80%;
  }
  .Menu__cardGroup {
    width: 100%;
    flex-direction: column;
    display: flex;
    gap: 25px;
    align-items: center;
    flex-wrap: wrap;
  }
  .menuCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 14px;
    box-shadow: 0 3px 12px rgba(65, 11, 16, 0.15);
  }
  .Restaurant__recto, .Restaurants {
    background-color: #f6f6f6;
    height: 690px;
    padding: 10px;
    top: 0;
    right: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    position: absolute;
    transition: transform 1s linear;
  }
  .Restaurant__recto {
    display: inline;
    transform: perspective(1200px) rotateY(0deg);
  }
  .container_AnimRectoVerso {
    position: relative;
    width: auto;
    height: 700px;
  }
  .Restaurants {
    transform: perspective(1200px) rotateY(180deg);
  }
  .container_AnimRectoVerso:hover .Restaurant__recto {
    transform: perspective(1200px) rotateY(-180deg);
  }
  .container_AnimRectoVerso:hover .Restaurants {
    transform: perspective(1200px) rotateY(0deg);
  }
  .Restaurant__card {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 8px;
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 0 3px 12px rgba(65, 11, 16, 0.15);
  }
}
/* Tablet 991  */
@media screen and (min-width: 992px) {
  header {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
  }
  .Accueil:hover, .filter:hover {
    border-radius: 10px;
    box-shadow: 0 3px 12px rgba(65, 11, 16, 0.15);
  }
  .cont_Fonct_Rest {
    display: flex;
    gap: 25px;
    flex-direction: row;
    align-items: flex-start;
  }
  .fonctionnement {
    margin: 0px;
    gap: 35px;
    width: 28%;
  }
  .fonctionnement__resto-item {
    width: 45%;
    margin: 0px;
  }
  .fonctionnement__Actions {
    padding: 0;
    padding-left: 15px;
    gap: 45px;
  }
  .fonctionnement__Actions {
    row-gap: 40px;
  }
  .filter, .info {
    width: 90%;
  }
  .Menu {
    width: 33.3333333333%;
    height: 630px;
  }
  .entréesPlatsDesserts__items {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 80%;
  }
  .Menu__cardGroup {
    width: 100%;
    flex-direction: column;
    display: flex;
    gap: 25px;
    align-items: center;
    flex-wrap: wrap;
  }
  .menuCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 14px;
    box-shadow: 0 3px 12px rgba(65, 11, 16, 0.15);
  }
  .Restaurant__recto, .Restaurants {
    background-color: #f6f6f6;
    padding: 10px;
    top: 0;
    right: 0;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    position: absolute;
    transition: transform 2s linear;
  }
  .Restaurant__recto {
    display: inline;
    transform: perspective(1200px) rotateY(0deg);
  }
  .container_AnimRectoVerso {
    position: relative;
    width: 70%;
    height: 700px;
  }
  .Restaurants {
    transform: perspective(1200px) rotateY(180deg);
  }
  .container_AnimRectoVerso:hover .Restaurant__recto {
    transform: perspective(1200px) rotateY(-180deg);
  }
  .container_AnimRectoVerso:hover .Restaurants {
    transform: perspective(1200px) rotateY(0deg);
  }
  .Restaurant__card {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 8px;
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 0 3px 12px rgba(65, 11, 16, 0.15);
  }
}
.header__logo-Menu {
  justify-content: space-between;
}

@-webkit-keyframes couleur {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    background: #ffffff;
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes couleur {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    background: #ffffff;
    transform: translateY(0px);
    opacity: 1;
  }
}
.Menu__cardGroup .menuCard {
  opacity: 0;
}

.Menu__cardGroup .menuCard:nth-child(1) {
  -webkit-animation-name: couleur;
          animation-name: couleur;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.Menu__cardGroup .menuCard:nth-child(2) {
  -webkit-animation-name: couleur;
          animation-name: couleur;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.Menu__cardGroup .menuCard:nth-child(3) {
  -webkit-animation-name: couleur;
          animation-name: couleur;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.Menu__cardGroup .menuCard:nth-child(4) {
  -webkit-animation-name: couleur;
          animation-name: couleur;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* VARIABLES CSS */
:root {
  --header-height: 3.5rem;
}

body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

/*=====  REUSABLE =====*/
a {
  color: var(--text-color);
  text-decoration: none;
}

ul {
  list-style: none; /* on enlève les puces */
}/*# sourceMappingURL=main.css.map */